{
	admin 0.0.0.0:2019 {
	}
	log {
		output stdout
		format json
		level INFO
	}
	order request_decompress before reverse_proxy
	auto_https disable_redirects
	metrics
}

http:// {
	request_decompress
	log {
		output stdout
	}
	log_append upstream_host {rp.upstream.host}
	log_append upstream_port {rp.upstream.port}
	log_append upstream_requests {rp.upstream.requests}
	log_append upstream_max_requests {rp.upstream.max_requests}
	log_append upstream_fails {rp.upstream.fails}
	log_append upstream_latency {rp.upstream.latency}
	log_append upstream_latency_ms {rp.upstream.latency_ms}
	log_append upstream_duration_ms {rp.upstream.duration_ms}
	log_append duration_ms {rp.duration_ms}
	route /api* {
		uri strip_prefix /api
		reverse_proxy envoy:8090 {
			header_up Host localhost
		}
	}
	route /grafana* {
		reverse_proxy http://grafana:3000
	}
	route /mqtt* {
		reverse_proxy http://emqx:1883
	}
	reverse_proxy app-web:3000 {
		header_up Host localhost
	}
}
